@import "../../../scss/variables.scss";

.card {
  width: 30%;
  float: left;
  max-width: 32%;
  margin: 1%;
  .title {
    min-height: 55px;
  }
  .content {
    text-align: left;
    .excerpt {
      min-height: 50px;
    }
    .button {
      float: right;
      margin: 20px 10px;
    }
  }
}
